
*.ide
HasserisWeb/.vs/HasserisWeb/v16/Server/sqlite3/storage.ide
HasserisWeb/.vs/HasserisWeb/v16/Server/sqlite3/storage.ide
HasserisWeb/obj/project.assets.json
HasserisWeb/obj/HasserisWeb.csproj.nuget.g.props
HasserisWeb/obj/HasserisWeb.csproj.nuget.dgspec.json
HasserisWeb/obj/HasserisWeb.csproj.nuget.cache
HasserisWeb/obj/Debug/netcoreapp3.0/HasserisWeb.csprojAssemblyReference.cache
HasserisWeb/obj/Debug/netcoreapp3.0/HasserisWeb.assets.cache
HasserisWeb/Database/Hasseris.db
HasserisWeb/.vs/HasserisWeb/v16/.suo
HasserisWeb/Database/Hasseris.db
HasserisWeb/obj/Debug/netcoreapp3.0/HasserisWeb.assets.cache
HasserisWeb/Database/Hasseris.db
HasserisWeb/.idea/.idea.HasserisWeb/.idea/contentModel.xml
HasserisWeb/Database/Hasseris.db
HasserisWeb/obj/Debug/netcoreapp3.0/HasserisWeb.assets.cache
HasserisWeb/obj/HasserisWeb.csproj.nuget.cache
HasserisWeb/obj/HasserisWeb.csproj.nuget.dgspec.json
HasserisWeb/obj/HasserisWeb.csproj.nuget.g.props
HasserisWeb/obj/HasserisWeb.csproj.nuget.g.targets
HasserisWeb/obj/project.assets.json
.DS_Store
HasserisWeb/.DS_Store
HasserisWeb/.idea/.idea.HasserisWeb/.idea/.DS_Store
HasserisWeb/.idea/.idea.HasserisWeb/.idea/contentModel.xml
HasserisWeb/obj/project.assets.json
*.cache
*.db
HasserisWeb/.idea/.idea.HasserisWeb/.idea/dataSources.xml
